{% extends 'base.html.twig' %}

{% block title %}
	Savourez la santé
{% endblock %}


{% block body %}
	<section class="models">
		{% include 'Frontend/Home/_banner.html.twig' %}
	</section>


	<header class="text-center p-4">
		<div class="header-content">
			<h1>
				<p>
					<strong class="text-black">Savourez la santé :  votre allié pour une alimentation saine et gourmande !</strong>
				</p>
			</h1>
			<p>
				<em>Bienvenue sur notre site dédié aux recettes à faible indice glycémique, spécialement conçues pour vous aider à mieux gérer votre glycémie sans renoncer au plaisir de manger.</em>
				Nous vous proposons une sélection de plats savoureux, équilibrés et variés, qui allient santé et gourmandise. Que vous soyez diabétique, soucieux de votre équilibre alimentaire, ou simplement à la recherche d'une alimentation plus saine, nos recettes vous offrent des solutions adaptées à vos besoins.</p>
		</div>

	</header>

{# recette aleatoir #}
<section class="">
    <div class="separator-color-o separator-title text-center my-4 py-4">
        <span>Recette du jour</span>
    </div>
    <p class="text-center mb-5">Recette aléatoire</p>
    <div class="admin-recipes-list">
        <div class="card-container">
            {% for recette in recettesAleatoires %}
                <a href="{{ path('app.RecetteComplete', { id: recette.id }) }}">
                    <div class="card border-o card-hover">
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ recette.name }}</h5>
                            <img src="{{ vich_uploader_asset(recette, 'imageFile') ?: asset('placeholder.png') }}" class="card-img-top radius" alt="{{ recette.name }}">
                            <div class="card-text mt-3"></div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
</section>


{# recette par saison #}
	<section id="recette-saison" class="">
		<div class="separator-color-v separator-title text-center my-4 py-4">
			<span>Recette par saisons</span>
		</div>

		<div class="admin-recipes-list">
			<div class="card-container ">
				{% for saison in saisons %}
					<a href="{{ path('app.saison', { name: saison.name }) }}">
						<div class="card border-v card-hover">
							<div class="card-body">
								<h5 class="card-title text-center">{{ saison.name }}</h5>
								<img src="{{ vich_uploader_asset(saison, 'imageFile') ?: asset('placeholder.png') }}" class="card-img-top radius" alt="{{ saison.name }}">
								<div class="card-text mt-3"></div>
							</div>
						</div>
					</a>
				{% endfor %}
			</div>
		</div>
	</section>



{# recette par categorie #}
	<section id="recette-categorie" class="">
		<div class="separator-color-o separator-title text-center my-4 py-4">
			<span>Recette par categorie</span>
		</div>

		<div class="admin-recipes-list">
			<div class="card-container ">
				{% for categorie in categories %}
					<a href="{{ path('app.categorie', { name: categorie.name }) }}">
						<div class="card border-o card-hover">
							<div class="card-body">
								<h5 class="card-title text-center">{{ categorie.name }}</h5>
								<img src="{{ vich_uploader_asset(categorie, 'imageFile') ?: asset('placeholder.png') }}" class="card-img-top radius" alt="{{ categorie.name }}">
								<div class="card-text mt-3"></div>
							</div>
						</div>
					</a>
				{% endfor %}
			</div>
		</div>
	</section>

	<button id="scrollToTop" class="btn btn-warning" title="Retour en haut">
    	<i class="bi bi-arrow-up-circle-fill"></i>
	</button>

	<footer id="contact" class="">
		<div class="separator-color-v separator-title text-center my-4 py-4">
			<span>Contact</span>
		</footer>


	{% endblock %}


