{% extends 'base.html.twig' %}

{% block title %}
	Recette complète | Savourez la santé
{% endblock %}

{% block body %}
	<section class="models">
		{% include 'Frontend/Home/_banner.html.twig' %}
	</section>


	<section
		class="">
		<!-- Title -->
		<h1 class="text-center mt-5">{{ recette.name }}</h1>

		<!-- Image -->
		<div class="text-center recette-image radius mt-4">
			<img src="{{ vich_uploader_asset(recette, 'imageFile') ?: asset('placeholder.png') }}" class="radius" alt="{{ recette.name }}">
		</div>

		<!-- Recipe Info -->
		{# 
		    <div class="text-center mt-4">
		        <span class="badge bg-light text-dark">Saison idéale : {{ recette.saison.name }}</span>
		        <div class="d-flex justify-content-center mt-3">
		            <button class="btn btn-outline-secondary me-2">Imprimer</button>
		            <button class="btn btn-outline-secondary">Commentaire</button>
		        </div>
		    </div> 
		    #}

		<!-- Description -->
			<div class="recette-section container mt-5"> <p>{{ recette.description }}</p>
		</div>


		<!-- Ingredients -->
		<div class="separator-color-v separator-title text-center mt-5">
			<span>Ingrédients</span>
		</div>

		<div class="recette-section container">
			<p>
				{{ recette.listeIngredient|nl2br }}
			</p>
		</div>


		<!-- Preparation -->
		<div class="separator-color-o separator-title text-center mt-5">
			<span>Préparation</span>
		</div>

		<div class="recette-section container">
			<p>
				{{ recette.preparation|nl2br }}
			</p>
		</div>


	</section>
{% endblock %}
