{% block form %}
	{{ form_start(form) }}
	<div class="mb-3">
		{{ form_label(form.name) }}
		{{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.name) }}
	</div>
	<div class="mb-3">
		{{ form_label(form.online) }}
		{{ form_widget(form.online, {'attr': {'class': 'form-check-input'}}) }}
		{{ form_errors(form.online) }}
	</div>
    <div class="mb-3">
        {{ form_label(form.imageFile) }}
        {{ form_widget(form.imageFile, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.imageFile) }}
    </div>
	<div class="mb-3">
		{{ form_label(form.description) }}
		{{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.description) }}
	</div>
	<div class="mb-3">
		{{ form_label(form.listeIngredient) }}
		{{ form_widget(form.listeIngredient, {'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.listeIngredient) }}
	</div>
	<div class="mb-3">
		{{ form_label(form.preparation) }}
		{{ form_widget(form.preparation, {'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.preparation) }}
	</div>


		<div class="mb-3">
		{{ form_label(form.saison) }}
		{{ form_widget(form.saison, {'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.saison) }}
	</div>

	<button type="submit" class="btn btn-primary">{{ buttonLabel|default('Enregistrer') }}</button>
	{{ form_end(form) }}
{% endblock %}
