{% extends 'base.html.twig' %}

{% block title %}
	admin | Savourez la santé
{% endblock %}

{% block body %}
	<section class="models">
		{% include 'Frontend/Home/_banner.html.twig' %}
	</section>
	<h1>Bienvenue sur la page d'administration de recette</h1>

	<a href="{{ path('admin.recette.create') }}" class="btn btn-outline-primary">Ajouter une recette</a>

	<div class="mt-4">
		<h2>Liste des recettes</h2>
		<table class="table">
			<thead>
				<tr>
					<th>Nom</th>
					<th>Visible en ligne</th>
					<th>Date de création</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for recette in recettes %}
					<tr>
						<td>{{ recette.name }}</td>
						<td>{{ recette.online ? 'Oui' : 'Non' }}</td>
						<td>{{ recette.createdAt ? recette.createdAt|date('d/m/Y H:i') : 'N/A' }}</td>
						<td>
							<a href="{{ path('admin.recette.edit', {id: recette.id}) }}" class="btn btn-sm btn-primary">Modifier</a>
							<form action="{{ path('admin.recette.delete', {id: recette.id}) }}" method="POST" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette catégorie ?')">
								<input type="hidden" name="token" value="{{ csrf_token('delete' ~ recette.id) }}">
								<button type="submit" class="btn btn-danger">Supprimer</button>
							</form>
							{# <twig:DeleteForm action="{{ path('admin.recette.delete', {id: recette.id}) }}" message="Êtes-vous sûr de vouloir supprimer cette méthode de livraison" csrftoken="{{ csrf_token('delete' ~ delivery.id) }}"/> #}
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="4">Aucune recette trouvée.</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
