{% extends 'base.html.twig' %}

{% block title %}
    Recettes pour la saison {{ saison.name }}
{% endblock %}

{% block body %}
	<section class="models">
		{% include 'Frontend/Home/_banner.html.twig' %}
	</section>

    <section>
        <div class="text-center mt-5 mb-5">
            <span>Voici les recettes {{ saison.name }}</span>
        </div>

        <div class="grid-recettes d-flex justify-content-center">
            {% for recette in recettes %}
                <div class="recette-item mx-2">
                    <p class="text-center mt-2">{{ recette.name }}</p>
                    <img src="{{ vich_uploader_asset(recette, 'imageFile') ?: asset('placeholder.png') }}" class="card-img-top radius" alt="{{ recette.name }}">
                </div>
            {% else %}
                <p class="text-center">Aucune recette pour la saison {{ saison.name }}.</p>
            {% endfor %}
        </div>
    </section>



<div class="admin-recipes-list">
    <h2 class="ms-4 mt-4 mb-4 text-center">Liste des recettes :</h2>
    <div class="card-container d-flex flex-column align-items-center">
        {% for recette in recettes %}
            <div class="card-column d-flex flex-column align-items-center">
                <img src="{{ vich_uploader_asset(recette, 'imageFile') ?: asset('placeholder.png') }}" class="card-img-top radius" alt="{{ recette.name }}">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ recette.name }}</h5>
                    <div class="card-text">
                        <p>{{ recette.description }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>




	<section class="">
    <div class="separator-color-v separator-title text-center my-4 py-4">
        <span>Recette par saisons</span>
    </div>

    <div class="admin-recipes-list">
        <div class="card-container">
            {% for recette in recettes %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ recette.name }}</h5>
                            <img src="{{ vich_uploader_asset(recette, 'imageFile') ?: asset('placeholder.png') }}" class="card-img-top radius" alt="{{ recette.name }}">
                        <div class="card-text mt-3">
                
                        <p>{{ recette.description }}</p>
         
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>






{% endblock %}

